.navbar {
    padding: 2.7rem;
    background-color: #eb7937;
    height: 60px;
  }

  .nav-link{
    font-size: 27px;
    color: #612408;
}
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
  
  /* Adaptable responsivo */
  
  @media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
  }
  